* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  height: 55px;
  background-color: rgb(245, 86, 112);
  color: white;
  align-items: center; /*vertical*/
  justify-content: center; /*horizontal*/
}

.main {
  min-height: 100vh;
  background-color: rgb(184, 166, 169);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.card {
  display: flex;
  margin-top: 40px;
  max-width: 500px;
}

.card-img {
  margin-right: 20px;
}

.card-header {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.card-header img {
  width: 7px;
  height: 9.55px;
  margin-right: 5px;
}

.card-header p {
  margin-right: 12px;
}

.card-header a {
  color: rgb(99, 98, 98);
}

.card-description {
  font-size: 13px;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
